<h1>Jobs Available</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Date Commitment</th>
    <th>Location</th>
    <th>Event Type</th>
    <th>Requirements</th>
    <th>Description</th>
  </tr>
  <% @job.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.start_date %>, <%= job.end_date %></td>
      <td><%= job.location %></td>
      <td><%= job.event_type %></td>
      <td><%= job.requirements %></td>
      <td><%= job.description %></td>
    </tr>
  <% end %>
</table><br>

<%= link_to "Create a job", new_job_path %><br>
<%= link_to "Home", root_path %>
