<h1>Create a Job Ad</h1>
<%= form_for :job, url: jobs_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :start_date %><br>
    <%= f.date_field :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br>
    <%= f.date_field :end_date %>
  </p>
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :event_type %><br>
    <%= f.select :event_type, ['Technology'] %>
  </p>
  <p>
    <%= f.label :requirements %><br>
    <%= f.text_area :requirements %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <%= f.submit %>
<% end %>
